body{
    background-color: rgba(173, 56, 56, 0.641);
}
.roadmap-title{
    margin:2rem 0;
    text-align: center;
}
h1{
    color:rgba(255, 255, 255, 0.911);
    background-color: rgba(0, 0, 0, 0.827);
    padding: 1.2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
ul{
    list-style-type: none;
    
}
ul>li{
    margin:2rem 0;
}
ul>h1{
    background-color: rgba(97, 98, 111, 0.773);
    padding:10px;
    border-radius: 5px;
    color:white;
    border-bottom: 5px solid rgba(52, 52, 52, 0.701);
}
h2{
    background-color: rgba(145, 145, 145, 0.895);
    color:rgb(255, 255, 255);
    padding:10px;
    border-radius:5px;
    border-left:5px solid rgb(222, 222, 222);
}
h2+ul>li{
    background-color: rgba(219, 219, 219, 0.682);
    padding:20px 10px;
    border-radius:5px;
    
}
h3{
    background-color: rgba(220, 220, 220, 0.4);
    color:rgb(0, 0, 0);
    padding:10px;
    border-radius: 5px;
    text-decoration: underline;
}
h3+ul>li{
    background-color: rgba(253, 247, 247, 0.442);
    padding:20px 10px;
    color:white;
    border-radius: 5px;
    
}
h4{
    background-color: rgba(255, 255, 255, 0.685);
    color:rgba(56, 52, 52, 0.774);
    padding:10px;
    border-radius: 5px;
    text-decoration: underline;
}
h4+ul>li{
    background-color: rgba(175, 204, 255, 0.725);
    padding:20px 10px;
    border-radius: 5px;
    color:black;
}
h4~ul, h3~ul, h2~ul{
    display: none;
}
ul>h2{
    transition: transform .2s ease-in;
}
ul>h2:hover{
    transform: translateY(-20px) scaleY(1.1) scaleX(1.05) translateX(-50px);
}

.roadmap-container>ul{
    border: 5px solid rgba(2, 2, 2, 0.632);
    border-top: none;
    border-bottom: none;
    border-right:none;
    max-width: 1200px;
    margin:2rem auto;
    padding-bottom:1.2rem;
    border-radius: 5px;
}

